<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spor Toto Süper Lig</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>
  <body>
    <section class="hero is-info">
    <div class="hero-body">
        <div class="container">
        <h1 class="title">
            Spor Toto Süper Lig
        </h1>
        <h2 class="subtitle">
            İlhan Cavcav Sezonu Puan Cetveli 2017-2018
        </h2>
        </div>
    </div>
    </section>
    <br>

    <div class="columns" id="app2">
        <div class="column is-1">
            <a href="../View/index.html" class="button is-info">Puan Durumu</a>
        </div>

        <div class="column is-10">
            <div class="card" v-for="(value, index) in posts">
                 <div class="card-content">
                     <center><p class="subtitle" style="color: red;">{{index}}.Hafta</p></center>
                 </div>
                <footer class="card-footer" v-for="n in 9">
                    <p class="card-footer-item">
                    <span>
                    <a>{{value[n].date}}</a> 
                    </span>
                    </p>
                    <p class="card-footer-item">
                    <span>
                        <a>{{value[n].mainteam}}</a>
                    </span>
                    </p>
                    <p class="card-footer-item">
                    <span>
                    <a>{{value[n].mainteam_goal}}</a>-<a>{{value[n].away_goal}}</a> 
                    </span>
                    </p>
                    <p class="card-footer-item">
                    <span>
                    <a>{{value[n].awayteam}}</a> 
                    </span>
                    </p>
                    
                </footer>
                <br>
            </div>
            
        
        
        
        
        </div>
        <div class="column is-1"></div>
    </div>


 


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../View/general.js"></script>
  </body>
</html>