<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spor Toto Süper Lig</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
  </head>
  <body>
<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Spor Toto Süper Lig
      </h1>
      <h2 class="subtitle">
        İlhan Cavcav Sezonu Puan Cetveli 2017-2018
      </h2>
    </div>
  </div>
</section>



  <section class="section" id="app">

        <div class="columns">
        <div class="column is-2"></div>
        <div class="column is-7">
            <div class="card">
  <footer class="card-footer">
    <a href="../View/fixture.html" class="card-footer-item">Fisktür Göster</a>
    <a class="card-footer-item">
        Hafta:&nbsp;&nbsp;&nbsp;
        <select v-model="selected" @change="send()">
            <option disabled value="">Hafta Seçiniz...</option>
            <option v-for="n in 26">{{n}}</option>
            </select>
    </a>
            
    <a class="card-footer-item" @click="getNow()">Güncel Puan Tablosu</a>
  </footer>



</div>
        </div>
        <div class="column is-3"></div>
        </div>
    

    <div class="container">
        <div class="columns">
        <div class="column is-2"></div>
        <div class="column is-8">
<table class="table">
        <thead>
            <tr>
            <th><abbr title="Position">Poz</abbr></th>
            <th>Takım Adı</th>
            <th><abbr title="Played">O</abbr></th>
            <th><abbr title="Won">G</abbr></th>
            <th><abbr title="Drawn">B</abbr></th>
            <th><abbr title="Lost">M</abbr></th>
            <th><abbr title="Goals for">A</abbr></th>
            <th><abbr title="Goals against">Y</abbr></th>
            <th><abbr title="Goal difference">AV</abbr></th>
            <th><abbr title="Points">P</abbr></th>
            <th></th>
            </tr>
        </thead>
        <tfoot>
            <tr>
            <th><abbr title="Position">Poz</abbr></th>
            <th>Takım Adı</th>
            <th><abbr title="Played">O</abbr></th>
            <th><abbr title="Won">G</abbr></th>
            <th><abbr title="Drawn">B</abbr></th>
            <th><abbr title="Lost">M</abbr></th>
            <th><abbr title="Goals for">A</abbr></th>
            <th><abbr title="Goals against">Y</abbr></th>
            <th><abbr title="Goal difference">AV</abbr></th>
            <th><abbr title="Points">P</abbr></th>
            <th></th>
            </tr>
        </tfoot>
        <tbody>
            <tr v-for="(item,index) in posts">
            <th>{{ index }}</th>
            <td><a>{{ item.Name }}</a></td>
            <td>{{ item.Week }}</td>
            <td>{{ item.Win }}</td>
            <td>{{ item.Draw }}</td>
            <td>{{ item.Lose }}</td>
            <td>{{ item.Scored_Goal }}</td>
            <td>{{ item.Defeated_Goal }}</td>
            <td>{{ item.Average }}</td>
            <td>{{ item.Score }}</td>
            </tr>
        </tbody>
        </table>
        </div>
        <div class="column is-2"></div>
        </div>
    </div>
  </section>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../View/general.js"></script>
  </body>
</html>